body{
  margin: 10px;
  text-align: center;
}

#square{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameboard{
  display: flex;
  flex-wrap: wrap;
  height: 306px;
  width: 306px;
  margin: 0 auto;
  justify-content: center;}